{
 "ErrorDocument": {
    "Key": "index.html?error=404"
  },
  "IndexDocument": {
    "Suffix": "index.html"
  },
  "RoutingRules": [
    {
      "Condition": {
        "HttpErrorCodeReturnedEquals": "404"
      },
      "Redirect": {
        "HostName": "alexjpaz.github.io",
        "HttpRedirectCode": "307",
        "Protocol": "https"
      }
    }
  ]
}
